{
    "cn":{
        "pwderr":"两次密码输入不一致",
        "userexists":"用户名已存在" ,
        "walletfail":"创建钱包失败",
        "vcodeerr":"验证码错误",
        "saveuserfail":"保存用户信息失败",
        "sendemailfail":"发送邮件失败",
        "errnopwd":"请输入密码",
        "errtoken":"token错误",
        "addresserr":"生成钱包地址失败",
        "editpwdfail":"修改密码失败",
        "noemail":"邮箱不存在",
        "usernotexist":"用户名不存在",
        "useractive":"账户已激活",
        "activesuccess":"恭喜您激活成功！",
        "notactive":"请激活您的账号",
        "pwderror":"密码错误",
        "auctionfailed":"竞拍失败",
        "auctionwaiting":"该球员没有开始竞拍",
        "auctionend":"活动已结束，请期待下期竞拍" ,
        "auctionupdate":"明星球员起拍价已更新，请重新竞拍" ,
        "auctionless":"每次加价最少 10 金币" ,
        "auctionnotenough":"您的金币余额不足，请充值后竞拍明星球员" ,
        "unknownPlayer":"神秘球星",
        "unknownInfo":"未知",
        "notAuction":"暂无竞拍者",
        "auctionexpect":"敬请期待",
        "okexaccountempty":"请输入OKEx账号或者手机号",
        "notokexuser":"您不是OKEx渠道用户",
        "discoin":"金币" ,
        "paramErr":"参数错误" 
    },
    "en":{
        "pwderr":"Two passwords typed do not match",
        "userexists":"This username already exists" ,
        "walletfail":"Failed to create a wallet",
        "vcodeerr":"Verification Code Error",
        "saveuserfail":"Failed to save user information",
        "sendemailfail":"Failed to send the mail",
        "errnopwd":"Please input your password",
        "errtoken":"Token Error",
        "addresserr":"Failed to generate the wallet address",
        "editpwdfail":"Failed to change password",
        "noemail":"Email does’t exist",
        "usernotexist":"This user name does’t exist",
        "useractive":"The account has been activated",
        "activesuccess":"Congratulations! Activated successfully!",
        "notactive":"Please activate your account",
        "pwderror":"Password Error",
        "auctionfailed":"Auction failure",
        "auctionwaiting":"The player is not available for bidding now",
        "auctionend":"Auction expiration, please await next auction" ,
        "auctionupdate":"Opening price has been updated, please start to rebid" ,
        "auctionless":"The added bidding price should be 10 Golden Coin at least every time" ,
        "auctionnotenough":"Your balance is not enough, please recharge and bid" ,
        "unknownPlayer":"Mysterious football star",
        "unknownInfo":"Unknown",
        "notAuction":"No bidder for now",
        "auctionexpect":"Stay tuned",
        "okexaccountempty":"Please input your OKEx account.",
        "notokexuser":"You are not a user coming from OKEx channel.",
        "discoin":"Coins",
        "paramErr":"PARAM ERR" 
    }
}